[MASTER]
init-hook='import sys; sys.path.append(".")'
[MESSAGES CONTROL]
# C0114: Missing module docstring (missing-module-docstring)
# C0115: Missing class docstring (missing-class-docstring)
# C0116: Missing function or method docstring (missing-function-docstring)
# C0301: Line too long (line-too-long)
# R0902: Too many instance attributes (too-many-instance-attributes)
# R0912: Too many branches (too-many-branches)
# R0914: Too many local variables (too-many-locals)
# R1702: Too many nested blocks (too-many-nested-blocks)


disable=C0114,C0115,C0116,C0301,R0902,R0912,R0914,R1702